server {
    listen 80;
    server_name www.{{ _server_url }} azbooker.ru;
    rewrite  ^   http://{{ _server_url }}$request_uri;
}

server {
  listen       80;
  server_name {{ _server_url }};
  root {{ _apps_path }}/{{ _host_name }}/current/public;

  passenger_ruby /home/{{ _remote_user }}/.rbenv/versions/{{ _ruby }}/bin/ruby;
  passenger_max_requests 40000;
  passenger_enabled on;
  passenger_min_instances 0;
  rails_env production;

  access_log off;
  error_log /var/log/nginx/{{ _host_name }}_error.log;
  #access_log /var/log/nginx/{{ _host_name }}_access.log;

  error_page  404              /pages/404.html;
  error_page   500 502 504  /pages/500.html;
  error_page 503 @503;

  # Return a 503 error if the maintenance page exists.
  if (-f {{ _apps_path }}/{{ _host_name }}/shared/system/maintenance.html) {
      return 503;
  }

  location @503 {
    rewrite  ^(.*)$  /system/maintenance.html break;
    break;
  }

  # http://tweaked.io/guide/nginx/
  location ~* \.(jpg|jpeg|gif|png|ico|xml)$ {
       access_log        off;
       log_not_found     off;
       expires           7d;
  }

  location ^~ /assets/ {
    gzip_static on;
    expires max;
    add_header Cache-Control public;
  }

  location ~* /system/.*\.(txt|rb|php|html|xml|json)$ {
      add_header Content-Disposition "attachment;";
      add_header Content-Type application/octet-stream;
  }
}
