.bundle
db/*.sqlite3
log/*.log
tmp/**/*
tmp/*
doc/api
doc/app
*.swp
*~
.DS_Store
.idea/*
.idea/**/*
webrat.log
tmp/
.sass-cache/
public/assets/*
coverage
coverage/*
retr.log
public/system/ozbooks/stat.txt
public/system/ozbooks/stop*
.env
config/database.yml
