<div class="row">
  <div class="span-one-third offset5 well regbox">
    <%= render :partial => 'devise/shared/regform' %>
    <p>
      <%= render :partial => 'devise/shared/activatemail_link' %>
    </p>
  </div>
</div>
