<div class="row">
  <div class="span-one-third offset5 well regbox">
    <%= render :partial => 'devise/shared/loginform' %>
    <p>
      <%= render :partial => 'devise/shared/forgetpass_link' %>
      <%= render :partial => 'devise/shared/register_link' %>
    </p>
  </div>
</div>