<% set_page_title('500, проблема на сервере') %>
<p>
<h1>500</h1>
<h3>
  Произошла ошибка на сервере. Возможно Азбукер перегружен или заболел :(
</h3>
</p>
<p>
  Обязательно напишите нам на
  <!-- Begin Email Cloaking -->
        <script language='javascript' type='text/javascript'><!--
        x = '&#64;';
        eml = '&#104;&#101;&#108;&#112;' + x + '&#97;&#122;&#98;&#117;&#107;&#101;&#114;&#46;&#114;&#117;';
        msg = '&#104;&#101;&#108;&#112;' + x + '&#97;&#122;&#98;&#117;&#107;&#101;&#114;&#46;&#114;&#117;';
        out = '<a class="cloak_eml" href="mailto:' + eml + '">' + msg + '</a>';
        document.write(out);
        // -->
        </script>
        <noscript>
          <!-- This message is displayed if the browser has javascript disabled. -->
          [ &#104;&#101;&#108;&#112; (at) &#97;&#122;&#98;&#117;&#107;&#101;&#114;&#46;&#114;&#117;
          ]
        </noscript>
,
  если эта ошибка будет повторяться!
</p>
<hr class="space"/>