<div class="row">
  <div class="offset1">
    <h2>Как работает Азбукер</h2>
  </div>
</div>
      <br/>
<div class="row">
  <div class="offset1 span7">
    <h4>Вы находите на сайте интересную книгу</h4>
    <ol>
      <li>Связываетесь с продавцом по указанному телефону, скайпу или пишете ему сообщение с
        сайта
      </li>

      <li>Договориваетесь с ним когда и как получите книгу</li>
      <li>Нужная книга у вас, продавец доволен, вы счастливы, деньги сэкономлены,
        <a href="http://ru.wikipedia.org/wiki/%D0%9B%D0%B5%D1%81" target="_blank">лес</a>
        спасен!
      </li>
      <li><a href="http://lurkmore.to/PROFIT" target="_blank" rel="nofollow">PROFIT</a></li>
    </ol>
  </div>
  <div class="span7">

    <h4>Вы прочитали книгу и она вам больше не нужна</h4>
    <ol>
      <li><%= link_to "Регистрируетесь", new_user_registration_path %> на Азбукере</li>
      <li><%= link_to "Создаете объявление", new_lot_path %>,
        указываете свой город, скайп и телефон, кратко описываете книгу
      </li>
      <li>Расшариваете всем френдам ссылку на объявление и свой профиль</li>
      <li>С вами связывается счастливый покупатель и забирает у вас книгу, деньги получены, место в квартире свободно,
        <a href="http://ru.wikipedia.org/wiki/%D0%9B%D0%B5%D1%81" target="_blank">лес</a>
        спасен!
      </li>
    </ol>
  </div>
</div>


