<div class="row">
  <div class="offset2">
    <h2>Правила</h2>
    Регистрируясь на Азбукере, вы принимаете следующие правила
  </div>
</div>
<br/>
<div class="row">
  <div class="offset2 span12">
    <h3>1. Можно и нужно покупать и продавать хорошие книги</h3>
    Приветствуются любые книги, но предпочтение отдается деловой, учебной, профессиональной и другой
    нехудожественной литературе.
    Чем полезнее книга, тем быстрее вы ее продадите.
    <br/>
    <br/>

    <h3>2. Запрещено нарушать любые законы РФ</h3>
    Например, размещать порнографию, экстремистские призывы, пропагандировать насилие,
    наркотики и прочую херню. За это пожизненных эцих с гвоздями!
    В особо запущенных случаях все логи безобразников будут переданы куда следует.
    <br/>
    <br/>

    <h3>3. Нельзя грубить, оскорблять и материться</h3>
    За это тоже бан и высылка в сибирь. Мат допустим только в случае, если он присутствует в
    названии книги или фамилии автора (настоящей книги и настоящего автора).
    <br/>
    <br/>

    <h3>4. Нельзя обманывать</h3>
    Сказали, что продаете сказки Пушкина в идеальном состоянии за 50 рублей.
    Извольте передать покупателю сказки Пушкина оговоренным способом в оговоренные сроки.
    И именно сказки Пушкина в идеальном состоянии, а не колбасные обрезки.
    Помните, что статью 159 &laquo;Мошенничество&raquo; УК РФ никто не отменял.
    <br/>
    <br/>

    <h4><%= link_to 'Зарегистрироваться', new_user_registration_path -%></h4>
  </div>
</div>


