<div class="row">
  <div class="offset2">
    <h2>Зачем пользоваться Азбукером?</h2>
  </div>
</div>
<br/>
<div class="row">
  <div class="offset2 span12">
    <p><strong>Для того, чтобы меньше денег тратить на книги. А точнее – больше читать за те же
      деньги</strong></p>

    <p><strong>А продавая и раздавая прочитанные книги на Азбукере,
      вы не просто освобождаете полки,      но и бережете лес ;)
    </strong></p>

    <h4><%= link_to 'Как это работает?', pages_path('howitworks', :html) -%></h4>
  </div>
</div>


