<%
   hellos = ['С надеждой на дружбу', 'С уважением',
             'С приветом из сервера','С книгой в руках' ]
%>

<p>
  <small>
    -- <br/>
  <%= hellos.sample -%>, Азбукер,<br/>
  место, где продают и покупают книги.<br/>
  <a href="mailto:help@azbuker.ru">help@azbuker.ru</a>
  </small>
</p>
