<p>Здравствуйте.</p>

<p>По этой ссылке вы можете задать новый пароль для Азбукера:</p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если вы помните свой пароль и не собираетесь его менять &mdash; просто игнорируйте это письмо.</p>

<%= render :partial => 'mail_footer' %>
